# common
dist
.env.development.local
.env.local
.envrc

# turbo
.turbo

# nodejs
node_modules
/.venv

# drawio
*.bkp

# cspell
.cspellcache

# cdk
cdk.context.json
tsconfig.tsbuildinfo

.legacy
target

# storybook
storybook-static


# APM dependencies
apm_modules/
.claude/skills/
.agents/skills/
