IMAGES_BASE_URL=https://images.shuntaka.tech
GH_APP_ID=123456
GH_APP_SECRET_PEM_KEY_NAME=/dev/shuntaka/github-app/private-key
GH_WEBHOOK_SECRET_KEY_NAME=/dev/shuntaka/github-webhook/secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET_KEY_NAME=/dev/shuntaka/cloudinary/api-secret
